<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">
</head>
<body>
<p>Content Delivery Networks (CDNs) are useful on very high traffic sites where performance is a concern. Rather than serving static files from your Django server you post them on a dedicated CDN network and then
    call them. The official WhiteNoise documentation has additional instructions on this step.</p>
<h1>Heading</h1>
</body>
</html>